    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    background-color: #205072;
    border-radius: 30px;
    padding: 5px;
    }

    input::placeholder{
    color: white;
    }
    
    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 30px;
    transition: width 0.4s linear;
    }

    .search_input:focus{
    width: 250px;
    padding: 0 10px;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 250px;
    caret-color:#329D9C;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #329D9C;
    }

    .search_icon{
    height: 30px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    color:white;
    text-decoration:none;
    border: transparent;
    }